@tailwind base;
@tailwind utilities;
@tailwind components;

:root {
  --primary-dark1: #242423;
  --primary-dark: #333533;
  --primary-light: #f0efeb;
  --primary-text: #be8014;
  --primary-text1: #df6c02;
  --secondary-text: #a8d5e2;
  --secondary-text1: #aec3b0;

}

@layer utilities {
  .bg-primary-dark {
    background-color: var(--primary-dark);
  }

  .bg-primary-dark1 {
    background-color: var(--primary-dark1);
  }

  .text-primary-dark {
    color: var(--primary-dark);
  }
  .text-primary-text {
    color: var(--primary-text);
  }

  .bg-primary-light {
    background-color: var(--primary-light);
  }

  .text-primary-light {
    color: var(--primary-light);
  }

  .bg-primary-text {
    background-color: var(--primary-text);
  }

  .bg-secondary-text {
    background-color: var(--secondary-text);
  }

  .grid-template-col {
    grid-template-columns: 14vw auto;
  }
  .grid-template-coll {
    grid-template-columns: 8vw auto;
  }
  .grid-template-colll {
    grid-template-columns: 30vw 30vw;
  }
}

