@tailwind base;
@tailwind utilities;
@tailwind components;

:root {
  --primary-dark: #6b705c;
  --primary-light: #f0efeb;
  --primary-text: #be8014;
  --secondary-text: #a8d5e2;
}

@layer utilities {
  .bg-primary-dark {
    background-color: var(--primary-dark);
  }

  .text-primary-dark {
    color: var(--primary-dark);
  }

  .bg-primary-light {
    background-color: var(--primary-light);
  }

  .text-primary-light {
    color: var(--primary-light);
  }

  .bg-primary-text {
    background-color: var(--primary-text);
  }
}